@tailwind base;
@tailwind components;
@tailwind utilities;

.navIcons {
    @apply w-6 aspect-square h-full cursor-pointer
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

input {
    caret-color: black;
}