name: Build and Deploy to Azure

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker build -t klintlee/ksportsbackend:1.0 .
        docker push klintlee/ksportsbackend:1.0

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: '${{ secrets.AZ_CREDENTIALS }}'

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ksportsbackend # Replace with your App Service name
        images: 'klintlee/ksportsbackend:1.0'
        slot-name: production # Optional, specify the slot name if you are using deployment slots
